In [ ]:
import numpy as np
import pandas as pd

In [2]:
names =['rohit','jay','dev','urval','parth']
(pd.Series(names))
#type is object

0    rohit
1      jay
2      dev
3    urval
4    parth
dtype: object

In [3]:
#intergers
marks=[10,20,22,23,56,56]
(pd.Series(marks))

0    10
1    20
2    22
3    23
4    56
5    56
dtype: int64

In [ ]:
#custom index
marks=[97,98,99,99,91]
sub=['python','fsd','toc','dm','coa']
pd.Series(marks,index=sub)

In [5]:
#setting a name
marks=pd.Series(marks,index=sub,name="JAY")
marks

python    97
fsd       98
toc       99
dm        99
coa       91
Name: JAY, dtype: int64

In [6]:
#Ganrate series from dict
s={
    'fsd':97,
    'python':77,
    'dm':88,
    'coa':55
}
makrs = pd.Series(marks,name="jay's Score")
print(marks)
#datatype int64

python    97
fsd       98
toc       99
dm        99
coa       91
Name: JAY, dtype: int64

In [7]:
d={'a':1,'b':2,'c':3}
s=pd.Series(data=d,index=['a','b','c'])
s

a    1
b    2
c    3
dtype: int64

In [8]:
d={'a':1,'b':2,'c':3}
s=pd.Series(data=d,index=['x','y','z'])
s

x   NaN
y   NaN
z   NaN
dtype: float64

SyntaxError: invalid syntax (2715574122.py, line 1)